.container.main-container
  .flex-row
    h1
      | Данные аккаунта
    .d-user-profile-data
      .card
        .card-body
          p
            strong
              | Имя пользователя:
            = current_user.username
          p
            strong
              | Email:
            = current_user.email
          p.mb-0.pb-0
            = link_to "Изменить данные учетной записи", edit_user_registration_path
    .d-user-profile-data
      .card
        .card-body
          = form_for :user, url: user_update_mailing_path, method: "patch" do |f|
            .form-group
              = f.label :mail_digest, "Подписка на рассылку"
              br
              = f.select :mail_digest, options_for_select([['Ежедневный дайджест', 1],['Еженедельный дайджест', 2],['Не получать рассылку', 0]], current_user.mail_digest), {}, :class=>'form-control custom-select'
            = f.submit "Сохранить", :class => "btn btn-success"
