= render "devise/shared/error_messages", resource: resource
.container.main-container
  .flex-row
    h2
      | Смена пароля
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, "Новый пароль"
        br
        - if @minimum_password_length
          em
            | (
            = @minimum_password_length
            |  символов минимум)
          br
        = f.password_field :password, autofocus: true, autocomplete: "new-password", :class => "form-control"
      .form-group
        = f.label :password_confirmation, "Подтвердите новый пароль"
        br
        = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"
      .actions
        = f.submit "Изменить пароль", :class => "btn btn-primary col-sm-12"
    .d-form-links
      = render "devise/shared/links"
