<div class="container main-container">
    <div class="flex-row">
        <div calss="col-sm-12>"><h1>Welcome#index</h1></div>
        <div calss="col-sm-12>"><p>Find me in app/views/welcome/index.html.erb</p></div>
    </div>
</div>
