.container.main-container
  .flex-row
    h2.mb-4
      | Редактирование «
      = @one_news.title
      | »
    .card
      .card-body
        = render 'edit_one_news_form'
      .card-footer
        = link_to 'Просмотреть новость', news_path(@one_news),  :class => 'btn btn-sm btn-light'
        = link_to 'К списку новостей', news_index_path,  :class => 'btn btn-sm btn-light'
        = link_to 'Удалить новость', @one_news, :method => :delete, :class => 'btn btn-sm btn-danger float-right', data: { confirm: "Вы действительно хотите удалить новость «#{@one_news.title}»?" }
