<div class="container main-container">
    <div class="flex-row">
        <h2 class="mb-4">Новая новость</h2>
        <div class="card">
            <div class="card-body">
                <%= render 'edit_one_news_form' %>
            </div>
            <div class="card-footer">
                <a href="<%= news_index_path %>" class="btn btn-sm btn-light">К списку новостей</a>
            </div>
        </div>
    </div>
</div>