<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Для восстановления пароля Вы можете перейти по ссылке</p>

<p><%= link_to 'Восстановить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали восстановление пароля - просто проигнорируйте это письмо.</p>
