<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @mail_subject %></h1>
    <%= @digest.html_safe %>
  </body>
</html>