<p>Здравствуйте, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Ваш email будет сменен на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Ваш email был сменен на <%= @resource.email %>.</p>
<% end %>
